﻿<form name="contentForm"
      ng-controller="Approval.ApprovalEditController"
      ng-show="loaded"
      ng-submit="publish(node)"
      val-form-manager
      ng-init="getPublishedItems()">

    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="span7">
                <h1 class="umb-headline" placeholder="@placeholders_entername" ng-bind-html="node.Name" />
            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab1" rel="Unpublished">
                <table class="table table-striped">
                    <thead>
                        <tr class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input ng-model="$ctrl.query" type="text" class="form-control" placeholder="Search">
                        </tr>
                        <tr>
                            <th>Index</th>
                            <th ng-click="sortData('Author')"> Author</th>
                            <th ng-click="sortData('Message')"> Message</th>
                            <th ng-click="sortData('CreateData')">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comment in comments.Data  | filter:$ctrl.query  |  orderBy:sortColumn:reverseSort">
                            <td>{{$index+1}}</td>
                            <td>
                                <a href="http://localhost:5001/umbraco/#/member/member/edit/{{comment.UmbracoMemberId}}" data-ng-hide="editMode">{{comment.Author}}</a>
                                <input readonly type="text" data-ng-show="editMode" data-ng-model="comment.Author" data-ng-required />
                            </td>
                            <td>
                                <a data-ng-hide="editMode">{{comment.Message}}</a>
                                <input type="text" data-ng-show="editMode" data-ng-model="comment.Message" data-ng-required />
                            </td>
                            <td>
                                <span data-ng-hide="editMode">
                                    {{comment.CreateDate | date:'d MMMM yyyy' : 'UTC'}}
                                </span>
                            </td>
                            <td>
                                <button type="button" data-ng-hide="editMode" class="btn btn-warning" ng-click="remove(comment)">Remove</button>
                                <button type="button" data-ng-hide="editMode" class="btn btn-success" ng-click="publish(comment)">Publish</button>
                                <button type="button" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(comment)"
                                        class="btn btn-default">
                                    Edit
                                </button>
                                <button data-ng-show="editMode" data-ng-click="editMode = false; saveField(comment)"
                                        class="btn btn-default">
                                    Save
                                </button>
                                <button type="button" data-ng-show="editMode" data-ng-click="editMode = false; cancel()"
                                        class="btn btn-default">
                                    Cancel
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </umb-tab>
            <umb-tab id="tab2" rel="Published">
                <table class="table table-striped">
                    <thead>
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input ng-model="$ctrl.query" type="text" class="form-control" placeholder="Search">
                        </div>
                        <tr>
                            <th>Index</th>
                            <th ng-click="sortData('Author')"> Author</th>
                            <th ng-click="sortData('Message')"> Message</th>
                            <th ng-click="sortData('CreateData')">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comment in publishedComments.Data  | filter:$ctrl.query  |  orderBy:sortColumn:reverseSort">
                            <td>{{$index+1}}</td>
                            <td>
                                <a href="http://localhost:5001/umbraco/#/member/member/edit/{{comment.UmbracoMemberId}}" data-ng-hide="editMode">{{comment.Author}}</a>
                                <input type="text" data-ng-show="editMode" data-ng-model="comment.Author" data-ng-required />
                            </td>
                            <td>
                                <span data-ng-hide="editMode">{{comment.Message}}</span>
                                <input type="text" data-ng-show="editMode" data-ng-model="comment.Message" data-ng-required />
                            </td>
                            <td>
                                <span>
                                    {{comment.CreateDate | date:'d MMMM yyyy' : 'UTC'}}
                                </span>
                            </td>
                            <td class="btn-group">
                                <a class="btn" ng-href="#/content/content/edit/{{comment.UmbracoId}}">
                                    <localize key="general_show">Show</localize>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>




