﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Article>
@{ 
    var truncateDescription = Umbraco.Truncate(@Model.Content.Description.ToString(), 70);
}

<div class="card container" style="margin-top:30px">
    <div class="card-body">
        <p>@Model.Content.Author</p>
        @truncateDescription
        <a style="margin-left:20px" href="@Model.Content.Url()" class="btn-danger btn pull-right">@Umbraco.GetDictionaryValue("Details")</a>
    </div>
</div>


