﻿@model IEnumerable<Vegumbr.Models.CommentViewModel>
@using CustomRoleProvider = Vegumbr.Models.CustomRoleProvider;

@{
    var UserName = CustomRoleProvider.GetCurrentUser().First().ToString();

}

<div style="margin-top:30px">
    @foreach (var comment in Model)
    {
        <div class="card container">
            <div class="card-body">
                <strong>Author : @comment.Author</strong>
                <p>@comment.Message</p>
                @if (@comment.Author == UserName)
                {
                    @Html.ActionLink("Delete", "Delete", "Comment", new { @id = comment.Id, @parentId = comment.PostId, @umbracoId = comment.UmbracoId }, new { @class = "btn btn-primary" })
                }
            </div>
        </div>
    }
</div>
