﻿@model Vegumbr.Models.CommentViewModel


<div id="afterPostMessage">

    @using (Ajax.BeginForm("Submit", "Comment", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "afterPostMessage"
    }))
    {
        <div class="form-horizontal container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <strong><label class="container">Leave your comment</label></strong>
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.PostId)
            @Html.HiddenFor(model => model.DocumentType)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
