﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using CustomRoleProvider = Vegumbr.Models.CustomRoleProvider;
@{
    ViewBag.Title = "_HeaderView";
    var UserName = CustomRoleProvider.GetCurrentUser().First().ToString();
    var siteRoot = Umbraco.Content(1098);
}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Vega</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="btn btn-dark" href="/umbraco">Umbraco<span class="sr-only">(current)</span></a>

            @foreach (var navItem in siteRoot.Children)

            {
                if (@navItem.GetPropertyValue("showInNavigationMenu"))
                {
                    <a class="btn btn-dark ml-1" href="/@navItem.Name">@navItem.Name<span class="sr-only">(current)</span></a>
                }
            }
        </div>
    </div>
    <div>
        <strong class="mr-1">Hello, @UserName</strong>
        @if (UserName == "Guest")
        {
            <a class="btn btn-dark" href="/blogs/login/">Log In<span class="sr-only">(current)</span></a>
            <a class="btn btn-dark" href="http://localhost:5000/account/register">Register<span class="sr-only">(current)</span></a>
        }
        @if (UserName == "Guest")
        {
        }
        else
        {
            <a href="http://localhost:5000/Account/Logout" class="btn btn-info">Log out</a>
        }
    </div>
</nav>

