﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blog>

@{
    var photoSource = Model.Content.MediaPhoto;
    var truncateDescription = @Umbraco.Truncate(Model.Content.Description.ToString(), 80);
}

<div class="card" style="width: 20rem; text-align:center; display:inline-block; margin-left:230px;margin-top:30px">
    <div>
        @{
            if (photoSource != null)
            {
                <img src="@photoSource.Url" style="width:200px" />
            }
        }
    </div>
    <div class="card-block">
        <h4 class="card-title">@Model.Content.Author</h4>
        <p class="card-text">@truncateDescription</p>
        <a href="@Model.Content.Url()" class="btn btn-primary">@Umbraco.GetDictionaryValue("Show more")</a>
    </div>
</div>
