﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blog>

@{
    var truncateDescription = @Umbraco.Truncate(Model.Content.Description.ToString(), 40);
    var photoSource = Model.Content.MediaPhoto;
}

<div class="container shadow p-3 mb-5 bg-white rounded" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-9">
            <p>@Model.Content.Author</p>
            <p>@Model.Content.Topic</p>
            @foreach (var tag in Model.Content.Tags)
            {
                <b class="badge badge-secondary">@tag</b>
            }
            <p>@truncateDescription</p>
        </div>
        <div class="col-lg-3">
            @{
                if (photoSource != null)
                {
                    <img src="@photoSource.Url" style="width:200px" />
                }
            }
        </div>
        <a style="margin-left:20px" href="@Model.Content.Url()" class="btn-danger btn pull-right">@Umbraco.GetDictionaryValue("Details")</a>
    </div>
</div>

