﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="container" style="margin-top:50px">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well Done</h4>
        <h4>Our admins will review your post, and after it u will see it on our page. Have a good day!</h4>
    </div>
</div>