﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@Umbraco.GetDictionaryValue("Well Done")</h4>
        <p>@Umbraco.GetDictionaryValue("Processing")</p>
    </div>
</div>