﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Log in, and then you'll have access to comment something</h4>
    </div>
</div>