﻿@using Vegumbr.Models
@model Vegumbr.Models.BlockGridModel

<div class="container">
    <div class="container">
        <div style="float:right;margin-top:20px">
            @Html.ActionLink("Add new post", "NewPostForm", "Post", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    @if (Model.Title != null)
    {
        <h1>@Model.Title</h1>
    }

    @foreach (var node in Model.Content)
    {
        @RenderBox(node);
    }

    @if (!String.IsNullOrWhiteSpace(Model.ButtonName)
        && !String.IsNullOrWhiteSpace(Model.ButtonLink))
    {
        <a href="@Model.ButtonLink" class="btn btn-primary">@Model.ButtonName</a>
    }
</div>

@helper RenderBox(GridModel item)
{
    var backgroundUrl = item.Photo == null
        ? "https://pbs.twimg.com/profile_images/1289241244/groupanon_400x400.png"
        : item.Photo.Url;

    <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top:30px">
        <div class="row">
            <div class="col-lg-9">
                <p>@item.Author</p>
                <p>@item.Topic</p>
                @if (item.Tags != null)
                {
                    @RenderTags(item.Tags);
                }
                <p>@item.Description</p>
            </div>
            <div class="col-lg-3">
                <img src="@backgroundUrl" style="width:200px" />
            </div>
        </div>
        <a href="@item.Url" class="btn-danger btn pull-right">Details</a>
    </div>
}

@helper RenderTags(string[] items)
{
    foreach (var tag in items)
    {
        <b class="badge badge-secondary">@tag</b>
    }
}


