﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AccessDenied>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	Layout = "Masterr.cshtml";
}

<h2>Oops looks like your looking for something you shouldn't</h2>