﻿@{
    Layout = "Masterr.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Articles>
@{
    //var isShown = Model.Content.ShowInNavigationMenu;
    ViewBag.Title = Model.Content.PageTitle;
    var colorPicker = Model.Content.BackgroundColor;
}
@*@if (Model.Content.ShowInNavigationMenu)
{*@
    @foreach (var item in Model.Content.Children)
    {
        <body style="background-color:#@colorPicker">
            @Html.Partial("~/Views/Partials/_ArticlesPartial.cshtml", item)
        </body>
    }
@*}
else
{
    <div class="container">@Umbraco.GetDictionaryValue("Nothing to show")</div>
}*@
