﻿@using Vegumbr.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Article>
@{
    Layout = "Masterr.cshtml";
    ViewBag.Title = Model.Content.PageTitle;
    var documentType = (int)DocumentType.Article;
}

<div class="card container" style="margin-top:30px">
    <div class="card-body">
        <p>@Model.Content.Author</p>
        @Model.Content.Description
    </div>

    @Html.Action("GetCommentsByPost", "Comment", new { id = Model.Content.Id })

    @Html.Partial("_CommentView", new CommentViewModel() { PostId = Model.Content.Id, DocumentType = documentType })

</div>



<script src="~/Themes/ckeditor.js"></script>

<form class="container">
    <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1', {
            language: 'ru',
            uiColor: '#9AB8F3'
        });
    </script>
</form>
