﻿@using Vegumbr.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Masterr.cshtml";
    ViewBag.Title = Model.Content.PageTitle;
    var videoUrl = "";
    if (Model.Content.MediaVideo != null)
    {
        videoUrl = Model.Content.MediaVideo.Url;
    }
    var UserName = CustomRoleProvider.GetCurrentUser().First().ToString();
}
<div class="container shadow p-3 mb-5 bg-white rounded" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-9">
            <p>@Model.Content.Author</p>
            <p>@Model.Content.Topic</p>
            @foreach (var tag in Model.Content.Tags)
            {
                <b class="badge badge-secondary">@tag</b>
            }
            <p>@Model.Content.Description</p>
        </div>
        <div class="col-lg-3">
            @if (Model.Content.MediaPhoto != null)
            {
                <img src="@Model.Content.MediaPhoto.Url" style="width:200px" />
            }
        </div>
    </div>
    <a href="/blogs" class="btn-danger btn pull-right">Back</a>
</div>
<div class="container">
    @if (videoUrl != "")
    {
        <video controls width="1100" height="450">
            <source src="@videoUrl" type="video/mp4" />
        </video>
    }
</div>

@Html.Action("GetCommentsByPost", "Comment", new { id = Model.Content.Id });

@if (UserName == "Guest")
{
    @Html.Partial("_UnregisteredCommentPartial");
}
else
{
    @Html.Partial("_CommentView", new CommentViewModel() { PostId = Model.Content.Id, DocumentType = (int)DocumentType.Blog })
}




