﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Masterr.cshtml";
    ViewBag.Title = "Home";
}

<div class="container">
    <button class="btn btn-danger" style="width:1000px; height:300px; margin-top:200px"><a class="text-dark" href="/blogs">Get the latest news</a></button>
</div>