﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var searchQuery = Request.QueryString["query"];
}

<div class="container" style="margin-top:30px">

    @if (!string.IsNullOrEmpty(searchQuery))
    {
        <div class="searchresults" style="background-color:white">
            <p>Your search results for <strong>@searchQuery:</strong></p>
            <ul>
                @if (Umbraco.Search(searchQuery).Count() != 0)
                {
                    foreach (var result in Umbraco.Search(searchQuery))
                    {
                        <li>
                            <a href="@result.Url">@result.Name</a>
                        </li>
                    }
                }
                else
                {
                    <p>Not found...</p>
                }
            </ul>
        </div>
    }
</div>