﻿@model Vegumbr.Models.Posts.PostViewModel
@using Vegumbr.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserName = CustomRoleProvider.GetCurrentUser().First().ToString();
}
<div class="container" id="afterPost">

    @using (Ajax.BeginForm("Submit", "Post", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "afterPost"
    }))
    {
    <div class="form-horizontal">
        <div style="margin-top:20px" class="form-group control-label col-md-2">
            <h1>@UserName</h1>
            @Html.HiddenFor(model => model.Author)
        </div>

        <hr />

        <div class="form-group">
            <h4 style="margin-left:15px">Page Title</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4 style="margin-left:15px">Navigation Title</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NavigationTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NavigationTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4 style="margin-left:15px">Topic</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4 style="margin-left:15px">Description</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4 style="margin-left:15px">Post Picture</h4>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <img id="uploadPreview" style="width: 200px; height: 200px; display:none" />
            </div>
            <div>
                <input style="margin-left:15px; margin-top:10px" id="uploadImage" class="btn btn-success" type="file" name="myPhoto" accept="image/x-png,image/gif,image/jpeg" onchange="PreviewImage();" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>

    </div>
    }
</div>

<script>
    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
            document.getElementById("uploadPreview").style.display = "block";
        };
    };
</script>