﻿@model IdentityGate.ViewModels.RegisterViewModel
<h2>Register new user</h2>
<div class="container">
    <form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Year"></label><br />
            <input asp-for="Year" />
            <span asp-validation-for="Year"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group row">
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-2">Register new user</button>
        </div>
    </form>
</div>